FRONTEND_URL=
LISTEN_CONNECTION_PORT=1234
MONGO_CONNECT_URL=some_db://asd.com/asd

JWT_ACCESS_SECRET=word1
JWT_ACTION_SECRET_FORGOT_PASSWORD=word2
JWT_REFRESH_SECRET=word3

NO_REPLY_EMAIL_USER=asd@asd.com
NO_REPLY_EMAIL_PASS=password
